@page "/"
<section class="panel1">
    <div class=" pad100">
        <img class="Logo" src="images/GroupIrsalogo.png">
        <!--    <img class="Logo2" src="images/IRSA logo2.png">-->
        <!--    <img class="Logo3" src="images/IRSA logo23.png">-->
        <h1 class="title-index">Service request system</h1>

        <a href="Expo-Form" style="left:800px;" class="BtnIndex"> Log in to system<i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="http://192.168.1.245/Expo-Form" style="left:500px;" class="BtnIndex"><i class="fa fa-angle-left" aria-hidden="true"></i>ورود به سامانه</a>



    </div>
    <div class="">
        <img class="Logo4" src="images/Group 294.png">
    </div>
</section>
